:root {
	--main-font: '';
}

body {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
.main-container {
	padding: 0 1rem;
}
.section {
	padding-top: $menu-h;
}
// ----- Resets ------
// UL
ul {
	list-style: none;
}
