:root {
	--main-font: 'Raleway', sans-serif;
	--color-font: #555555;
	--color-main: rgb(90, 0, 148);
	--color-sec: rgb(75, 165, 0);
	--color-bg: #f8f8ff;
}

body {
	box-sizing: border-box;
	background-color: $c-bg;
	color: $c-font;
}
// background: linear-gradient(225deg, var(--color-main) 0%, var(--color-sec) 100%);

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
.main-container {
	padding: 0 1rem;
}
.section {
	padding-top: $menu-h;
}
// ----- Resets ------
// UL
ul {
	list-style: none;
}
