.welcome {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	text-transform: uppercase;
	&__1 {
	}
	&__2 {
	}
	&__name {
		@include no-select;
		font: normal normal 500 2.4em/1.6 $ff;
	}
	&__profession {
		align-self: center;
		position: relative;
		display: flex;
		justify-content: center;
		&s {
			@include no-select;
			font: normal normal 500 2.4em/1.6 $ff;
			z-index: 1;
			position: relative;
		}
		&-web-dev {
		}
		&-engineer {
			margin-left: 8rem;
		}
	}
	&__separator {
		position: absolute;
		top: -30%;
		opacity: .6;
		z-index: 0;
		transform: skewX(-30deg);
		height: 20rem;
		width: 4rem;
		background: $grad;
	}

	&__scroll-btn {
		@include button-reset;
	}
}
